################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DFC.Functions.DI.Core/DFC.Functions.DI.Core/obj
/DFC.Functions.DI.Core/.vs/DFC.Functions.DI.Core/v15
/DFC.Functions.DI.Core/DFC.Functions.DI.Core.Tests/obj
/DFC.Functions.DI.Core/DFC.Functions.DI.Core/bin/Debug/netstandard2.0
/DFC.Functions.DI.Core/DFC.Functions.DI.Core.Tests/bin/Debug/netcoreapp2.1
/DFC.Functions.DI.Core/.vs/DFC.Functions.DI.Core/DesignTimeBuild
/DFC.Functions.DI.Core/DFC.Functions.DI.Core/bin/Debug
/DFC.Functions.DI.Standard/.vs
/DFC.Functions.DI.Standard/DFC.Functions.DI.Standard/bin/Debug
/DFC.Functions.DI.Standard/DFC.Functions.DI.Standard/obj
/DFC.Functions.DI.Standard/DFC.Functions.DI.Standard.Tests/bin/Debug/netcoreapp2.1
/DFC.Functions.DI.Standard/DFC.Functions.DI.Standard.Tests/obj
/DFC.Functions.DI.Standard/bin/Debug
/DFC.Functions.DI.Standard.Tests/bin/Debug/netcoreapp2.1
/DFC.Functions.DI.Standard.Tests/obj
/DFC.Functions.DI.Standard/obj
